In [13]:
import pandas as pd
import json
df_appqore_policies = pd.read_csv('appqore-policies-all-status.csv')
df_id3_policies = pd.read_csv('id3-policies-all-status.csv')

In [ ]:
df_appqore_policies

In [7]:
df_id3_policies

         Policy         User
0    NP20219930  DISCOSTP
1    NP20220985  DISCOSTP
2    NP20223607  DISCOSTP
3    NP20224945  DISCOSTP
4    NP20225552  DISCOSTP
..          ...          ...
533  NP20231659  DISCOSTP
534  NP20231660  DISCOSTP
535  NP20231662  DISCOSTP
536  NP20231666  DISCOSTP
537  NP20231667  DISCOSTP

[538 rows x 2 columns]

In [14]:
merged_df = pd.merge(df_appqore_policies, df_id3_policies, on='Policy', how='left', suffixes=('_appqore', '_id3'))

In [15]:
merged_df

          Policy         User
0     NP20228119          NaN
1     NP20231707  DISCOSTP
2     NP20231685  DISCOSTP
3     NP20231712          NaN
4     NP20231701  DISCOSTP
...          ...          ...
1032  NP20230425  RATH
1033  NP20229423  DISCOSTP
1034  NP20230415  RATH
1035  NP20230418  DISCOSTP
1036  NP20230417  DISCOSTP

[1037 rows x 2 columns]

In [16]:
merged_df.to_csv('appqore-vs-id3-stp-all-status.csv', index=False)

In [ ]:
df_appqore_policies