In [5]:
import pandas as pd
import json
df_appqore_policies = pd.read_csv('appqore-policies.csv')
df_id3_policies = pd.read_csv('id3-policies.csv')

In [6]:
df_id3_policies

          Policy         User
0    NP20219930   DISCOSTP
1    NP20220985   DISCOSTP
2    NP20225552   DISCOSTP
3    NP20225559   DISCOSTP
4    NP20225564   DISCOSTP
..           ...          ...
291  NP20231659   DISCOSTP
292  NP20231660   DISCOSTP
293  NP20231662   DISCOSTP
294  NP20231666   DISCOSTP
295  NP20231667   DISCOSTP

[296 rows x 2 columns]

In [7]:
merged_df = pd.merge(df_appqore_policies, df_id3_policies, on='Policy', how='left')

In [10]:
merged_df.to_csv('appqore-vs-id3-stp.csv', index=False)

In [9]:
df_appqore_policies

         Policy
0    NP20231659
1    NP20231667
2    NP20231666
3    NP20231662
4    NP20231660
..          ...
534  NP20230386
535  NP20230377
536  NP20230373
537  NP20230367
538  NP20229096

[539 rows x 1 columns]