In [20]:
import pandas as pd
df_user_ipaddress = pd.read_csv('2025-november-december-output.csv')

In [21]:
df_user_ipaddress.columns

Index(['userid', 'ipaddress', 'timestamp'], dtype='object')

In [5]:
df_appqore_users = pd.read_csv('appqore-active-users.csv')

In [6]:
df_appqore_users.columns

Index(['name', 'viewCode', 'NGLUserId', 'userID', 'compID',
       'lastDateSAMLSent'],
      dtype='object')

In [7]:
df_appqore_users['NGLUserId'] = df_appqore_users['NGLUserId'].str.lower()

In [9]:
df_appqore_users[['NGLUserId']]

       NGLUserId
0     ngl2516010
1     ngl1231503
2     ngl1904743
3     ngl3779320
4     ngl3468612
...          ...
2383  ngl7056780
2384  ngl7033648
2385  ngl7149570
2386  ngl1120036
2387  ngl7093086

[2388 rows x 1 columns]

In [22]:
df_final = pd.merge(df_user_ipaddress.rename(columns={'userid': 'userid'}), df_appqore_users.rename(columns={'NGLUserId': 'userid'}), on='userid', how='inner')

In [24]:
df_final.to_csv('appqore-users-ipaddress.csv', index=False)

In [23]:
df_final

,userid,ipaddress,timestamp,name,viewCode,userID,compID,lastDateSAMLSent
0,ngl7125648,172.59.195.133,2025-11-04T00:06:20.670Z,"CASAREZ, MARIA DE LOURDES",preneed,Casarezm56,NGL,2025
1,ngl7125648,172.59.195.133,2025-11-04T00:06:26.773Z,"CASAREZ, MARIA DE LOURDES",preneed,Casarezm56,NGL,2025
2,ngl6858461,174.218.21.112,2025-11-04T00:08:41.993Z,"DAMIAN, RUBEN JR",preneed,rdamian007,NGL,2025
3,ngl6858461,174.218.21.112,2025-11-04T00:08:43.896Z,"DAMIAN, RUBEN JR",preneed,rdamian007,NGL,2025
4,ngl7125648,172.59.195.133,2025-11-04T00:09:24.996Z,"CASAREZ, MARIA DE LOURDES",preneed,Casarezm56,NGL,2025
...,...,...,...,...,...,...,...,...
5622,ngl6876259,57.138.137.156,2025-11-04T23:59:27.760Z,"BURRIS, SCOTT",preneed,MA3925,NGL,2025
5623,ngl6876259,57.138.137.156,2025-11-05T00:03:15.495Z,"BURRIS, SCOTT",preneed,MA3925,NGL,2025
5624,ngl6876259,57.138.137.156,2025-11-05T00:03:17.733Z,"BURRIS, SCOTT",preneed,MA3925,NGL,2025
5625,ngl6876259,57.138.137.156,2025-11-05T00:03:20.577Z,"BURRIS, SCOTT",preneed,MA3925,NGL,2025
5626,ngl6876259,57.138.137.156,2025-11-05T00:04:26.806Z,"BURRIS, SCOTT",preneed,MA3925,NGL,2025